@model List<CarouselArticleDto>

@if(Model.Count > 0)
{
	<section class="hero-carousel">
		<div class="container-xl">
			<div class="post-carousel-lg">
				@foreach (var carouselArticle in Model)
				{
					<div class="post featured-post-xl">
						<div class="details clearfix">
							<a asp-controller="Blog" asp-action="Index" asp-route-kategori="@carouselArticle.CategoryId" class="category-badge lg">@carouselArticle.CategoryName</a>
							<h4 class="post-title"><a href="/@Url.FriendlyUrlHelper(carouselArticle.Title!)/@carouselArticle.Id">@carouselArticle.Title</a></h4>
							<ul class="meta list-inline mb-0">
								<li class="list-inline-item">@carouselArticle.CreatedByName</li>
								<li class="list-inline-item">@carouselArticle.Date.ToString("dd MMMM yyyy")</li>
							</ul>
						</div>
						<a href="/@Url.FriendlyUrlHelper(carouselArticle.Title!)/@carouselArticle.Id">
							<div class="thumb rounded">
								<div class="inner data-bg-image" data-bg-image="/admin/img/blog/@carouselArticle.ThumbnailPath"></div>
							</div>
						</a>
					</div>
				}
			</div>
		</div>
	</section>
}