@model DetailArticleDto
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    string[] tags = Model.SeoTags!.Split(',');
}

@section Css {
    <link href="~/admin/css/blog.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/base16/tomorrow-night.min.css">
    <link href="https://cdn.jsdelivr.net/npm/@@sweetalert2/theme-bulma@5.0.16/bulma.min.css" rel="stylesheet">
}

<!-- post single -->
<div class="post post-single">
    <!-- post header -->
    <div class="post-header">
        <h1 class="title mt-0 mb-3">@Model.Title</h1>
        <ul class="meta list-inline mb-0">
            <li class="list-inline-item"><img src="~/admin/img/user/@Model.AuthorImage" class="author rounded-circle" alt="@Model.CreatedByName"><a asp-controller="Blog" asp-action="Ara" asp-route-kelime="@Model.CreatedByName">@Model.CreatedByName</a></li>
            <li class="list-inline-item"><a asp-controller="Blog" asp-action="Index" asp-route-kategori="@Model.CategoryId">@Model.CategoryName</a></li>
            <li class="list-inline-item">@Model.Date.ToString("dd MMMM yyyy")</li>
        </ul>
    </div>
    <!-- featured image -->
    <div class="featured-image">
        <img src="~/admin/img/blog/@Model.ThumbnailPath" alt="@Model.Title">
    </div>
    <!-- post content -->
    <div class="post-content clearfix">
        @Html.Raw(Model.Content)
    </div>
    <!-- post bottom section -->
    <div class="post-bottom">
        <div class="row d-flex align-items-center">
            <div class="col-md-12 col-12 text-center text-md-start">
                @foreach (var tag in tags)
                {
                    <a asp-controller="Blog" asp-action="Ara" asp-route-kelime="@tag" class="tag">#@tag</a>
                }
            </div>
        </div>
    </div>
</div>

<div class="spacer" data-height="50" style="height: 50px;"></div>

<!-- post comments -->
@await Component.InvokeAsync("CommentList", new { articleId = Model.Id })

<div class="spacer" data-height="50" style="height: 50px;"></div>

<!-- section header -->
<div class="section-header">
    <h3 class="section-title">Bir Yorum Bırak</h3>
    <img src="~/blog/images/wave.svg" class="wave" alt="wave">
</div>
<!-- comment form -->
@await Html.PartialAsync("_AddCommentPartialView")

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/highlightjs-badgejs@@0.0.5/highlightjs-badgejs.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.10.7/dist/sweetalert2.all.min.js"></script>
    <script src="~/frontend/js/comment.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.30.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.30.1/locale/tr.min.js"></script>
    <script type="text/javascript">
        hljs.highlightAll();
        var pres = document.querySelectorAll("pre>code");
        for (var i = 0; i < pres.length; i++) {
            hljs.highlightBlock(pres[i]);
        }
        window.highlightJsBadge();
    </script>
}