@model DetailArticleDto
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    string[] tags = Model.SeoTags!.Split(',');
}

@section Css {
    <link href="https://cdn.jsdelivr.net/npm/@@sweetalert2/theme-bulma@5.0.16/bulma.min.css" rel="stylesheet">
}

<!-- post single -->
<div class="post post-single">
    <!-- post header -->
    <div class="post-header">
        <h1 class="title mt-0 mb-3">@Model.Title</h1>
        <ul class="meta list-inline mb-0">
            <li class="list-inline-item"><img src="~/blog/images/other/author-sm.png" class="author" alt="@Model.CreatedByName">@Model.CreatedByName</li>
            <li class="list-inline-item"><a asp-controller="Blog" asp-action="Index" asp-route-kategori="@Model.CategoryId">@Model.CategoryName</a></li>
            <li class="list-inline-item">@Model.Date.ToString("dd MMMM yyyy")</li>
        </ul>
    </div>
    <!-- featured image -->
    <div class="featured-image">
        <img src="~/blog/images/posts/featured-lg.jpg" alt="@Model.Title">
    </div>
    <!-- post content -->
    <div class="post-content clearfix">
        @Html.Raw(Model.Content)
    </div>
    <!-- post bottom section -->
    <div class="post-bottom">
        <div class="row d-flex align-items-center">
            <div class="col-md-12 col-12 text-center text-md-start">
                @foreach (var tag in tags)
                {
                    <a href="#" class="tag">#@tag</a>
                }
            </div>
        </div>
    </div>
</div>

<div class="spacer" data-height="50" style="height: 50px;"></div>

<!-- post comments -->
@await Component.InvokeAsync("CommentList", new { articleId = Model.Id })

<div class="spacer" data-height="50" style="height: 50px;"></div>

<!-- section header -->
<div class="section-header">
    <h3 class="section-title">Bir Yorum Bırak</h3>
    <img src="~/blog/images/wave.svg" class="wave" alt="wave">
</div>
<!-- comment form -->
@await Html.PartialAsync("_AddCommentPartialView")

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.10.7/dist/sweetalert2.all.min.js"></script>
    <script src="~/frontend/js/comment.js"></script>
}